<a href="https://colab.research.google.com/github/jeansilvaster/Introdu-o_linguagempy/blob/main/Python_Introdu%C3%A7%C3%A3o_a_linguagem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 01 – Introdução a Linguagem

Comentários

In [ ]:
#Esta linha imprime um texto.
print("Olá mundo!")

Olá mundo!

In [ ]:
"""
Este é um comentário
longo do
python
"""
#
print("Olá mundo!")

Olá mundo!

Indentação

In [ ]:
x = 0
y = 0
if x ==0:
  print("X é igual a 10.")

  if y == 0:
    print("X é igual a 10.")

X é igual a 10.
X,y é igual a 10.

Variável

In [ ]:
idade = 32
peso = 65.4
nome = "José"
situacao = True
situacao = False

Tipos de dados

In [ ]:
idade = 32
peso = 270
nome = "José"
situacao = True
situacao = False

type(idade)
type(peso)
#String
type(nome)
#Boleana
type(situacao)

bool

**Pratica 1**

In [ ]:
from traitlets.config.application import T
animal1 = "Leão"
animal2 = "Tartaruga"
animal3 = "Cachorro"

quantidade_de_animais = 3

peso_animal1 = 60.8
peso_animal2 = 32.7
peso_animal3 = 25.4

#situação de vacinação

situação_animal1 = True
situação_animal2 = False
situação_animal3 = False

# Aula 02 – Manipulação de dados

**Saida de dados***

In [ ]:
print('Olá mundo!')

Olá mundo!

In [ ]:
nome = "José"
idade = 30
peso = 75

print(nome)
print(idade)
print(peso)

José
30
75

In [ ]:
print("Meu nome é", nome,"e minha idade é",idade, ".")

Meu nome é José e minha idade é 30 .

In [ ]:
print('02', '11', '2023', sep="/")

02/11/2023

In [ ]:
print('2023', '11', '23', sep='-')

2023-11-23

In [ ]:
print('B', 'n','n', '.', sep='a' )

Banana.

**Entrada de Dados**

In [ ]:
nome = input("Escreva seu nome: ")#string
idade = int(input("Escreva sua idade "))#inteiro
peso = float(input("Escreva se peso "))#float

print(nome)
print(idade)
print(peso)

Escreva seu nome: Jean
Escreva sua idade 48
Escreva se peso 78
Jean
48
78.0

**Operadores aritiméticos**

In [ ]:
# +, -, /, //, %
a = 4
b = 4

print(a + b)#adição
print(5 - 2)#subtração
print(2 * 5)#multiplicação
print(10 / 6)#Divisão
print(10 //6)#divisão exata
print(10 % 3)#percentual

8
3
10
1.6666666666666667
1
1

**Prática Proposta - Aula 02**

In [ ]:
'''
Como sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:

Crie três inputs que receba os três dados abaixo:
-Nome do tipo string

-Altura do tipo Float

-CPF do tipo inteiro

Exiba através de um único print as três informações para o usuário.
'''

In [ ]:
nome = input("Digite seu nome: ")
peso = float(input("Digite sua altura "))
cpf = int(input("Digite seu CPF "))

print(nome, peso, altura)

Escreva seu nome: Jean
Escreva sua altura 65
Escreva seu CPF 64802027168
Jean 65.0 64802027168

**Correção exercício**

In [ ]:
nome = input("Digite seu nome: ")
peso = float(input("Digite sua altura "))
cpf = int(input("Digite seu CPF "))

print("O seu nome é: ",nome, ". A altura digitada é: ", altura, ". O CPF digitado é: ",cpf, "." )

Digite seu nome: Jean
Digite sua altura 1.78
Digite seu CPF 64802027138
O seu nome é:  Jean . A altura digitada é:  64802027168 . O CPF digitado é:  64802027138 .

# Aula 03 – Estruturas de condição

**Operadores de relação e condição**

In [ ]:
#Operadores de igualdade
#==, !=

#Operadores relacionais
#>, <, >=, <=

**O comando IF ELSE**

In [ ]:
numero = 10

if numero == 10: #true
  print("Este número é igual a 10!")
else: #false
  print("Este número não é igual a 10!")

Este número é igual a 10!

**O comando ELIF**

In [ ]:
numero = 15

if numero == 10:
  print("Este número é igual a 10!")
elif numero == 11:
  print("Este número é igual a 11!")
elif numero == 12:
  print("Este número é igual a 12!")
elif numero == 13:
  print("Este número é igual a 13!")
else:
  print("Este número não é igual nem a 11,12 ou 13 ")

**Prática Proposta - Aula 03**

In [ ]:
'''
Como sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:

Crie uma variável número e atribua o valor 15 a ela.
Crie um comando de condição para verificar se ela é == a 15,
Menor que 15, maior que 15.

Informar através de print a informação para o usuário.
'''

'\nComo sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:\n\nCrie uma variável número e atribua o valor 15 a ela.\nCrie um comando de condição para verificar se ela é == a 15, \nMenor que 15, maior que 15.\n\nInformar através de print a informação para o usuário.\n'

In [ ]:
numero = 15

if numero == 14:
  print("Este número é igual a 15!")
elif numero > 15:
  print("Este número é maior que 15!")
elif numero < 15:
  print("Este número é maior que 15!")
else:
  print("informação para o usuário ")

informação para o usuário

**Correção exercício**

In [ ]:
numero = 16

if numero == 15:
  print("Este número é igual a 15!")
elif numero < 15:
  print("Este número é menor que 15!")
elif numero > 15:
  print("Este número é maior que 15!")

Este número é maior que 15!

# Aula 04 – Estruturas de controle de fluxo

**Laço de repetição While**

In [ ]:
i = 0

while(i<=10):
  print("O loop está rodando... ")
  print(i)
  i+=1 #i = i+1

O loop está rodando...
0
O loop está rodando...
1
O loop está rodando...
2
O loop está rodando...
3
O loop está rodando...
4
O loop está rodando...
5
O loop está rodando...
6
O loop está rodando...
7
O loop está rodando...
8
O loop está rodando...
9
O loop está rodando...
10

**Laço de repetição for**

In [ ]:
for i in "Python":
  print(i)

P
y
t
h
o
n

In [ ]:
num = [1,5,6,7]

In [ ]:
for j in num:
  print(j)

1
5
6
7

**Laço for range**

In [ ]:
for i in range(10):# cria laço aleatório ou indicado por mim
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for j in range(9, -1, -1):
  print(j)

**Prática Proposta - Aula 04**

In [ ]:
'''
Como sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:

Crie um laço com for in range que imprima os múltiplos de 3 no intervalo entre 0 e 15.
'''

'\nComo sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:\n\nCrie um laço com for in range que imprima os múltiplos de 3 no intervalo entre 0 e 15.\n'

In [ ]:
for j in range(0, 16, 3):
  print(j)

0
3
6
9
12
15

Corigido ok!

**Instrução break e continue**

In [ ]:
#Break
for i in range(10):
  print(i)
  if (i == 5):
    break

0
1
2
3
4
5

In [ ]:
i = 0
while (i<10):
  i+=1
  if (i%2==0):
    continue
  print(i)

1
3
5
7
9

# Aula 05 – Strings

Introdução a Strings

In [ ]:
nome = "José de Sousa Magalhães"
nome2 ='José de Sousa Magalhães'
nome3 =  '''
está é uma string longa
contendo informaçãoes sobre
python'''

nome4 = """
Está é outra string longa
contendo informações sobre
python"""

print(nome)
print(nome2)
print(nome3)
print(nome4)

José de Sousa Magalhães
José de Sousa Magalhães

está é uma string longa
contendo informaçãoes sobre
python

Está é outra string longa
contendo informações sobre
python

**Propriedades das Strings**

In [ ]:
l = 'lista de letras'
data = '15/09/1991'

#tamnho da string
tamanho = len(l)
print(tamanho)

#split da string
lista = l.split(" ")
print(lista)
lista2 = data.split("/")
print(lista2)

#substituição
print(l.replace("de",""))

15
['lista', 'de', 'letras']
['15', '09', '1991']
lista  letras

**Fatiando Strings**

In [ ]:
#       012345
# -6-5-4-3-2-1
nome = 'python'
nova_string = nome[-1]
print(nova_string)

**Comparando Strings**

In [ ]:
print("a"=="b")
print("b" != "a")
print("a" > "X")
print("a" > "1")

False
True
True
True

In [ ]:
 for i in range(122):
  print(str(i)+ "-"+chr(i))

0- 
1-
2-
3-
4-
5-
6-
7-
8-
9-
10-

11-
12-
13-
14-
15-
16-
17-
18-
19-
20-
21-
22-
23-
24-
25-
26-
27-
28-
29-
30-
31-
32-
33-!
34-"
35-#
36-$
37-%
38-&
39-'
40-(
41-)
42-*
43-+
44-,
45--
46-.
47-/
48-0
49-1
50-2
51-3
52-4
53-5
54-6
55-7
56-8
57-9
58-:
59-;
60-<
61-=
62->
63-?
64-@
65-A
66-B
67-C
68-D
69-E
70-F
71-G
72-H
73-I
74-J
75-K
76-L
77-M
78-N
79-O
80-P
81-Q
82-R
83-S
84-T
85-U
86-V
87-W
88-X
89-Y
90-Z
91-[
92-\
93-]
94-^
95-_
96-`
97-a
98-b
99-c
100-d
101-e
102-f
103-g
104-h
105-i
106-j
107-k
108-l
109-m
110-n
111-o
112-p
113-q
114-r
115-s
116-t
117-u
118-v
119-w
120-x
121-y

**Percorrendo Strings**

In [ ]:
nome = 'python'
#for
for i in nome:
  print(i)

#while
i = 0
while i < len(nome):
  print(nome[i])
  i+=1
  print("------")

#for/enumerate
for k,v in enumerate(nome):
  print(k,v)

p
y
t
h
o
n
p
------
y
------
t
------
h
------
o
------
n
------
0 p
1 y
2 t
3 h
4 o
5 n

**Exercício prático** corrigido sem erros

In [ ]:
'''
Como sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:

Crie uma string contendo o alfabeto com letras maiúsculas separado por espaços.
Percorra e imprima essa string com enumerate.
Substitua os espaços por traço. “-” e imprima para o usuário.
'''

'\nComo sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:\n\nCrie uma string contendo o alfabeto com letras maiúsculas separado por espaços.\nPercorra e imprima essa string com enumerate.\nSubstitua os espaços por traço. “-” e imprima para o usuário.\n'

In [ ]:
alfabeto_maiusculo = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z"
print(alfabeto_maiusculo)

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
for A,Z in enumerate(alfabeto_maiusculo):
  print(A,Z)

0 A
1
2 B
3
4 C
5
6 D
7
8 E
9
10 F
11
12 G
13
14 H
15
16 I
17
18 J
19
20 K
21
22 L
23
24 M
25
26 N
27
28 O
29
30 P
31
32 Q
33
34 R
35
36 S
37
38 T
39
40 U
41
42 V
43
44 W
45
46 X
47
48 Y
49
50 Z

In [ ]:
print(alfabeto_maiusculo.replace(" ","-"))

A-B-C-D-E-F-G-H-I-J-K-L-M-N-O-P-Q-R-S-T-U-V-W-X-Y-Z

# **Aula 06** – Estrutura de Listas

**Introdução a listas**

In [ ]:
# 0 1 2 3 4 5...n
nome = "python"
lista = [2,3,4,5]
lista2 = [1.5, 2.3 ,6.5]
lista3 = [1 ,1.5, "número"]
lista4 = []
print(lista2[1])

2.3

**Percorrendo listas**

In [ ]:
lista = [100, 200, 300 ,400, 500, 600, 700, 800]
for i in range(len(lista)):
  print(lista[i])

print(lista)

100
200
300
400
500
600
700
800
[100, 200, 300, 400, 500, 600, 700, 800]

**Fatiando listas**

In [ ]:
#        0 1 2
lista = [2, 3 ,4]
#        -3 -2 -1

nova_lista = lista[0:2:2]
print(nova_lista)

lista2 = ['p', 'y', 't', 'h', 'o', 'n']
nova_lista2 = lista2[::-1]
print(nova_lista2)

[2]
['n', 'o', 'h', 't', 'y', 'p']

**Prática Proposta - Aula 06**

In [30]:
'''
Como sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:

Crie uma lista abaixo com a seguinte palavra:
“PYTHON”

A lista deve conter as letras separadas e em maiúsculas.
Crie uma nova lista somente com as três últimas letras da palavra “PYTHON”.
'''

'\nComo sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:\n\nCrie uma lista abaixo com a seguinte palavra:\n“PYTHON”\n\nA lista deve conter as letras separadas e em maiúsculas.\nCrie uma nova lista somente com as três últimas letras da palavra “PYTHON”.\n'

In [32]:
lista = ['P', 'Y','T','H','O','N']
lista_nova = lista[3:6]
print(lista_nova)

['H', 'O', 'N']

**Correção exercício**

**Incluir, alterar, excluir elemento de listas**

In [44]:
animais = ['Gato', 'Cachorro', 'Elefante']
print(animais)
animais.append('Galinha')
print(animais)
animais.insert(0, 'Papagaio')
print(animais)
animais.pop(0)
print(animais)
animais.remove('Gato')

['Gato', 'Cachorro', 'Elefante']
['Gato', 'Cachorro', 'Elefante', 'Galinha']
['Papagaio', 'Gato', 'Cachorro', 'Elefante', 'Galinha']
['Gato', 'Cachorro', 'Elefante', 'Galinha']

**Ordenar listas**

In [49]:
lista = ['a','x', 's', 'w', 'd', 'a', 'n', 'a']
#lista.reverse()
lista.sort()

print(lista)

for i in range(len(lista)):
  print(lista[i])

['a', 'a', 'a', 'd', 'n', 's', 'w', 'x']
a
a
a
d
n
s
w
x

In [51]:
l = lista.count('a')
print(l)

3

**Prática Proposta - Aula 06**

In [1]:
'''
Como sugestão de prática, indicamos você
a criar um novo script python
seguindo as orientações a seguir:

1-Crie uma lista de móveis de uma casa;
2-Adicione um elemento no final da lista;
3-Remova um elemento pelo seu índice.
'''

'\nComo sugestão de prática, indicamos você a criar um novo script python seguindo as orientações a seguir:\n\nCrie uma lista de móveis de uma casa;\nAdicione um elemento no final da lista;\nRemova um elemento pelo seu índice.\n'

In [6]:
lista = ['sofá', 'mesa', 'televisão']
print(lista)
lista.append('geladeira')
print(lista)
#lista.remove('sofá')errado o certo seria pop
lista.pop(0)
print(lista)

['sofá', 'mesa', 'televisão']
['sofá', 'mesa', 'televisão', 'geladeira']
['mesa', 'televisão', 'geladeira']

# Aula 07 – Estrutura de Tuplas

**Introdução a tuplas**

In [8]:
t = tuple("abc")
x = ("python","curso" )
x1 = (2,3,4)
x2 = (2.1, 2,3, 2.5)
x3 = ("python", 1,1.5, True)
print(x3)
print(type(x3))

('python', 1, 1.5, True)
<class 'tuple'>

**Operações com tuplas**

In [13]:
elementos_tupla = ('São Paulo', 'Belo Horizonte', 'Terezina')
print('Manaus' in elementos_tupla)
print('São Paulo' in elementos_tupla)

#                 0       1         2         3       4         5
nomes_tuplas = ('José','Carlos', 'Maria', 'Pedro', 'Joana', 'Maria')
print(nomes_tuplas.count('Maria'))
print(nomes_tuplas.index('Carlos'))

False
True
2
1